.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}

.denk-one-regular {
  font-family: "Denk One", sans-serif;
  font-weight: 400;
  font-style: normal;
}