<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>個人理財頁面</title>

    <!--bootstrap的網站-->
    <!--好處是當使用者用手機瀏覽此網站時,螢幕變成長方形,navbar會收進去,變成下拉式選單-->
    <!--因為別人已經幫你寫好了-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-success">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <!--herf="#":#代表不會到任何的網站-->
          <!--class="navbar-brand":標示這個<a> tag是我們的navbar的標示-->
          <a class="navbar-brand text-light" href="#">
            <img
              src="{{ url_for('static', filename='images/finance.jpg') }}"
              alt="個人理財網站的標誌"
              style="width: 60px; height: 60px; margin-right: 8px"
            />
            個人理財網站
          </a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-light" href="/">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/cash">現金庫存表單</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/stock">股票庫存表單</a>
            </li>
          </ul>
          <span class="navbar-text ms-auto text-light">
            <!--登出的button-->
            <button
              id="logoutBtn"
              type="button"
              class="btn btn-outline-light me-3"
              onclick="handleLogout()"
            >
              登出
            </button>
            Design by :
            <img
              src="{{ url_for('static', filename='images/pie.jpeg') }}"
              alt="個人理財網站的標誌"
              style="width: 30px; height: 30px; margin-left: 8px"
            />
          </span>
        </div>
      </div>
    </nav>

    <!--不同的頁面會覆蓋這裡content的內容-->
    <div id="content" style="padding: 2rem">
      {% block content%}{% endblock %}
    </div>

    <!--bootstrap的網站-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <script>
      // 當頁面加載時檢查用戶的登入狀態---待改
      // function login() {
      //   fetch("/login") // 您的 Flask 路由
      //     .then((response) => response.json())
      //     .then((data) => {
      //       if (data.is_logged_in) {
      //         // 如果已登入，將按鈕文字改為 "登出"
      //         document.getElementById("logoutBtn").innerText = "登出";
      //       }
      //     })
      //     .catch((error) => console.error("Error:", error));
      // };

      // 監聽分頁關閉或刷新事件
      // window.onbeforeunload = function () {
      //   // 清除 localStorage 資料
      //   localStorage.clear();
      // };

      function handleLogout() {
        fetch("/logout", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.message === "Logged out successfully!") {
              // 清除 localStorage 資料
              localStorage.clear();

              // 登出成功後隱藏按鈕
              document.getElementById("logoutBtn").style.display = "none";
              location.replace("/"); //重新載入頁面

              //alert("登出成功"); //暫時不寫了～～～
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      // 判斷登錄狀態來顯示/隱藏登出按鈕
      //   window.onload = function () {
      //     fetch("/check_login_status")
      //       .then((response) => response.json())
      //       .then((data) => {
      //         if (!data.loggedIn) {
      //           document.getElementById("logoutBtn").style.display = "none";
      //         }
      //       })
      //       .catch((error) => console.error("Error:", error));
      //   };
      //
    </script>
  </body>
</html>
