<!--index.html裡面的內容是從base.html裡面的內容來的-->
{% extends "base.html" %}

<!--不同地方的html要貼在這裡面-->
{% block content%}
<!--Modal-->
<!--data-bs-backdrop="static":禁用點擊外部關閉 -->
<!--data-bs-keyboard="false":禁用Esc關閉 -->
<!--style="display: none;":預設隱藏此彈跳視窗"-->
<head>
  <style>
    .blurred {
        filter: blur(10px); /* 調整這個值來控制虛化程度 */
        transition: filter 0.3s; /* 平滑過渡效果 */
    }
</style>
</head>
<div
  class="modal fade"
  id="introModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"  
  data-bs-keyboard="false" 
  style="display: none;"   
>
  <!--登入表單-->
  <div id="loginPage" class="modal-dialog"> <!--測試-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Welcome👏👏👏</h5>
      </div>
      <div id= "loginForm" class="modal-body">
        Welcome to the cash and stock warehouse management system! (version: 2026.03.11)<br /><br />
        This is just a test webpage, no need to worry.<br /><br />
        The purpose of this webpage is to manage and track the changes in cash and stock storage.<br /><br />

        <!-- 表單開始 --> 
        <!--提交form到後端要記得寫method="POST"-->
        <form id="userCodeForm" onsubmit="return handleFormSubmit(event)" method="POST">

        <!-- 文字框 -->
        <label for="userCode" class="form-label mb-3">Account:</label>
        <div class="input-group mb-3">
          <input
            id="userCodeInput"
            name="userCodeInput"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Please enter up to 10 English letters or numbers."
            maxlength="10"
            oninput="filterInput(this)"
            required
          />
        </div>

        <label for="pwd" class="form-label mb-3">Password:</label>
        <div class="input-group mb-3">
          <input
            id="pwdInput"
            name="pwdInput"
            type="password"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Please enter up to 10 English letters or numbers."
            maxlength="10"
            oninput="filterInput(this)"
            required
          />
        </div>

        <!-- 用來顯示錯誤的提示 --> <!--要改-->
        <div id="inputError" style="color: red; display: none;"></div>
      </div>
      <div class="modal-footer">
        <!--註冊button-->
        <!--onclick="openRegistrationPage()":呼叫打開註冊頁面的函數-->
         <button
         type="button"
         class="btn btn-success me-auto"
         onclick="openRegistrationPage()" 
       >
        Register
       </button>

        <!--不需要在按鈕上添加onclick事件,因為表單會自動調用onsubmit事件-->
        <button
          type="submit"
          class="btn btn-success"
        >
          Login
        </button>
      </div>
    </form>
    <!--表單結束-->
    </div>
  </div> <!--測試-->

    <!--註冊表單-->
    <div id="registrationForm" class="modal-dialog" style="display: none;"> <!--測試-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register Account</h5>
        </div>
        <div class="modal-body">

      <form id="registerForm" onsubmit="return handleRegistration(event)" method="POST">
        <label for="regUserCode" class="form-label mb-3">Account:</label>
        <div class="input-group mb-3">
          <input
            id="regUserCode"
            name="regUserCode"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            placeholder="Please enter up to 10 English letters or numbers."
            maxlength="10"
            oninput="filterInput(this)"
            required
          />
        </div>

        <label for="regPwd" class="form-label mb-3">Password:</label>
        <div class="input-group mb-3">
          <input
            id="regPwd"
            name="regPwd"
            type="password"
            class="form-control"
            aria-label="Sizing example input"
            placeholder="Please enter up to 10 English letters or numbers."
            maxlength="10"
            oninput="filterInput(this)"
            required
          />
        </div>

        <div id="regError" style="color: red; display: none;"></div>
       </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-success me-auto"
            onclick="showLoginForm()"
          >
            Return to Login
          </button>

          <button
            type="submit"
            class="btn btn-success"
          >
            Confirm
          </button>
        </div>
      </form>
    </div> <!--註冊表單結束-->

  </div>
</div>

<div id="main-content"><!--虛化開始-->
<div id="cash-info">
  <!--&#x1F4B5;是鈔票的emoji-->
  <h3>
    <img 
      src="{{ url_for('static', filename='icon/cash.gif') }}" 
      alt="cash"
      width="50px"
      height="50px"> Cash Inventory
    <small>
      <a href="{{ url_for('cash_inventory') }}" style="margin-left:15px">
        <img src="{{ url_for('static', filename='icon/click.gif') }}" 
             title="View Cash Inventory"
             width="40">
        </img>
      </a>
    </small>
  </h3>
  <table class="table" style="text-align: center;">
    <thead class="table-success">
      <tr>
        <th scope="col">Total in TWD</th>
        <th scope="col">Total in USD</th>
        <th scope="col">Today's Exchange Rate</th>
        <th scope="col">Total Cash</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{"{:,}".format(data["td"]) if data["td"] }}</td>
        <td>{{"{:,}".format(data["ud"]) if data["ud"] }}</td>
        <td>{{data["currency"]~ "TWD" if data["currency"] }}</td>
        <td>{{"{:,}".format(data["total"]) ~ " TWD" if data["total"] }}</td>
      </tr>
    </tbody>
  </table>
</div>

<br><br>
<div id="stock-info">
  <!--&#x1F4C8;是股票的emoji-->
  <h3>
    <img 
      src="{{ url_for('static', filename='icon/stock.gif') }}" 
      alt="cash"
      width="50px"
      height="50px"> Stock Inventory
    <small>
      <a href="{{ url_for('stock_inventory') }}" style="margin-left:15px">
        <img src="{{ url_for('static', filename='icon/click.gif') }}" 
             title="View Stock Inventory"
             width="40">
        </img>
      </a>
    </small>
  </h3>
  <table class="table" style="text-align: center;">
    <thead class="table-success">
      <tr>
        <th scope="col">Total Market Value</th>
        <th scope="col">Total Purchase Cost(including Fees)</th>
        <th scope="col">Total Profit / Loss</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data["total_stock_info"] %}
      <tr>
        <!--這裡的d是一個dictionary-->
        <td style="vertical-align: middle; text-align:center">{{"{:,}".format(d["total_stock_value"]) if d["total_stock_value"] }}</td>
        <td style="vertical-align: middle">{{"{:,}".format(d["total_stock_cost"]) if d["total_stock_cost"] }}</td>
        <td style="vertical-align: middle" 
            class="{% if d['total_profit'] < 0 %} text-success{% else %} text-danger{% endif %}">
            {% if d["total_stock_cost"] != 0 %}
              {% if d["total_profit"] < 0 %} -{{ "{:,}".format(d["total_profit"]|abs) }}
              {% else %} +{{ "{:,}".format(d["total_profit"]) }}
              {% endif %}
            {% else %}
              &nbsp;
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<br><br>

<!--不懂CSS沒關西,因為這都是網頁課程裡的內容-->
<div id="chart" style="display: flex; flex-wrap: wrap" >
  <!--去判斷要不要顯示figure-->
  {% if data["show_pic_1"] %}
  <figure style="flex: 0 1 500px; margin: 10px; text-align:center">
    <img style="width: 100%" src="/static/piechart.jpg" alt="股票庫存占比圖" />
    <figcaption style="
      font-size: 22px; 
      margin-top: 1rem; 
      padding: 0.5rem;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      display:inline-block; 
      background-color:white" >
      Stock Allocation Chart
    </figcaption>
  </figure>
  {% endif %} {% if data["show_pic_2"] %}
  <figure style="flex: 0 1 500px; margin: 10px; text-align:center">
    <img style="width: 100%" src="/static/piechart2.jpg" alt="資產比例占比圖" />
    <figcaption style="
      font-size: 22px; 
      margin-top: 1rem; 
      padding: 0.5rem;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      display:inline-block; 
      background-color:white">
      Asset Allocation Chart
    </figcaption>
  </figure>
  {% endif %}
</div>

{% if data["total_stock_info"] and data["total_stock_info"][0]["total_stock_cost"] != 0 %}
  <hr />
{% endif %}
<div id="footer" 
     style="
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 0;"
    >

  <!--左邊-->
  <span class="lacquer-regular">
    <img 
      src="{{ url_for('static', filename='icon/design.gif') }}" 
      alt="idea"
      width="30px"
      height="30px">
    Design by:
    <img
      src="{{ url_for('static', filename='images/pie.jpeg') }}"
      alt="logo"
      style="width: 30px; height: 30px; margin-left: 8px"
    />
  </span>

  <!--右邊-->
  <span>
    Today's Exchange Rate Data Source:
    <a href="https://tw.rter.info/howto_currencyapi.php" target="_blank">
      Global Real-Time Exchange Rate API
    </a>
  </span>
</div>
</div> <!--虛化結束-->

<script>
  // window.onload = function () {
  document.addEventListener("DOMContentLoaded", function () {
    const shouldShowModal = {{ show_modal | tojson }};

    if (shouldShowModal) {
      // 如果尚未提交表單, 顯示模態框
      const introModal = document.getElementById("introModal");
      // introModal.style.display = "block"; // 顯示模態框

      const myModal = new bootstrap.Modal(introModal); // 初始化 Bootstrap Modal
      myModal.show();

      // 只虛化背景,不虛化彈跳視窗(利用"main-content"包裹住需要虛化的地方)
      document.getElementById("main-content").classList.add("blurred");
    }
});
  //登入頁面的「確認」button
  function handleFormSubmit(event) {
    event.preventDefault(); // 防止表單默認提交

    const userCodeInput = document.getElementById("userCodeInput").value;
    const pwdInput = document.getElementById("pwdInput").value;

    fetch("/", {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded",
        },
        body: new URLSearchParams({ userCodeInput: userCodeInput, pwdInput:pwdInput }), // 轉換為 URL 編碼格式
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === "success") {
            // 隱藏彈出視窗並重新載入頁面
            const myModal = bootstrap.Modal.getInstance(document.getElementById("introModal"));
            myModal.hide();

            // 保持背景模糊,立即刷新頁面
            // setTimeout(() => {
            //     location.reload(); // 立即刷新頁面,展示最新資料
            //  }, 0);

            location.reload();

            // 在3秒後移除模糊效果
            setTimeout(() => {
                document.getElementById("main-content").classList.remove("blurred");
            }, 3000); 

            //移除需化背景
            //myModal._element.addEventListener('hidden.bs.modal', function () {
            //document.getElementById("main-content").classList.remove("blurred");});
            
            //location.reload();
        } else {
            // 顯示錯誤訊息並保持彈出視窗開啟
            const inputError = document.getElementById("inputError");
            inputError.textContent = data.message; // 顯示錯誤訊息
            inputError.style.display = "block"; // 顯示錯誤提示

            // 在1.3秒後隱藏錯誤訊息
            setTimeout(() => {
                inputError.style.display = "none"; // 隱藏錯誤提示
            }, 1300); // 1300毫秒，即1.3秒
            
        }
    })
    .catch(error => {
        console.error("網路錯誤:", error);
    });
    }

    //註冊頁面的「確認」button
    function handleRegistration(event) {
    event.preventDefault(); // 防止表單默認提交

    var regUserCode = document.getElementById("regUserCode").value;
    var regPwd = document.getElementById("regPwd").value;

    fetch("/register", {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded",
        },
        body: new URLSearchParams({ regUserCode: regUserCode, regPwd: regPwd }), // 轉換為 URL 編碼格式
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === "success") {
            // 表單提交成功,儲存已提交的狀態到localStorage(這樣即使開其他分頁也會保留紀錄)
            //sessionStorage:只會保留當前頁面的狀態
            //localStorage.setItem("formSubmitted", "true");

            // 隱藏彈出視窗並重新載入頁面
            var myModal = bootstrap.Modal.getInstance(document.getElementById("introModal"));
            myModal.hide();

            // 保持背景模糊,立即刷新頁面
            // setTimeout(() => {
            //     location.reload(); // 立即刷新頁面,展示最新資料
            //  }, 0);

            location.reload();

            // 在3秒後移除模糊效果
            setTimeout(() => {
                document.getElementById("main-content").classList.remove("blurred");
            }, 3000); // 延遲3秒移除模糊效果

            //移除需化背景(原始code)
            // myModal._element.addEventListener('hidden.bs.modal', function () {
            // document.getElementById("main-content").classList.remove("blurred");});
            
            location.reload();
        } else {
            // 顯示錯誤訊息並保持彈出視窗開啟
            var regError = document.getElementById("regError");
            regError.textContent = data.message; // 顯示錯誤訊息
            regError.style.display = "block"; // 顯示錯誤提示

            // 在1.3秒後隱藏錯誤訊息
            setTimeout(() => {
                regError.style.display = "none"; // 隱藏錯誤提示
            }, 1300); // 1300毫秒，即1.3秒
            
        }
    })
    .catch(error => {
        console.error("網路錯誤:", error);
    });
    }

    function openRegistrationPage() {
      // 隱藏登入表單，顯示註冊表單
      document.getElementById('registrationForm').style.display = 'block';
      document.getElementById('loginPage').style.display = 'none';
      document.getElementById('exampleModalLabel').textContent = "註冊帳號";

      //可以用來測試button是否有被click
      // alert("註冊按鈕被點擊了！");
    }

    function showLoginForm() {
      // 隱藏註冊表單，顯示登入表單
      document.getElementById('loginPage').style.display = 'block';
      document.getElementById('registrationForm').style.display = 'none';
      document.getElementById('exampleModalLabel').textContent = "歡迎👏👏👏";
    }
</script>

<script>
  function filterInput(input) {
    // 使用正則表達式匹配允許的字符(英文字母、數字和特殊符號)
    input.value = input.value.replace(/[^A-Za-z0-9!@#$%^&*()_+={}\[\]:;\"'<>,.?/\\|`~\-]/g, ''); 
    // 上面的正則表達式會移除任何不在允許範圍內的字符
  }
</script>
{% endblock %}
