<!--index.html裡面的內容是從base.html裡面的內容來的-->
{% extends "base.html" %}

<!--不同地方的html要貼在這裡面-->
{% block content%}
<!--Modal-->
<!--data-bs-backdrop="static":禁用點擊外部關閉 -->
<!--data-bs-keyboard="false":禁用Esc關閉 -->
<!--style="display: none;":預設隱藏此彈跳視窗"-->
<head>
  <style>
    .blurred {
        filter: blur(10px); /* 調整這個值來控制虛化程度 */
        transition: filter 0.3s; /* 平滑過渡效果 */
    }
</style>
</head>
<div
  class="modal fade"
  id="introModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"  
  data-bs-keyboard="false" 
  style="display: none;"   
>
  <!--登入表單-->
  <div id="loginPage" class="modal-dialog"> <!--測試-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Welcome👏👏👏</h5>
      </div>
      <div id= "loginForm" class="modal-body">
        Welcome to the cash and stock warehouse management system!<br /><br />
        The purpose of this webpage is to manage and track the changes in cash and stock storage.<br /><br />

        <!-- 表單開始 --> 
        <!--提交form到後端要記得寫method="POST"-->
        <form id="userCodeForm" onsubmit="return handleFormSubmit(event)" method="POST">

        <!-- 文字框 -->
        <label for="userCode" class="form-label mb-3">Account:</label>
        <div class="input-group mb-3">
          <input
            id="userCodeInput"
            name="userCodeInput"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Please enter up to 10 English letters or numbers."
            required
          />
        </div>

        <label for="pwd" class="form-label mb-3">Password:</label>
        <div class="input-group mb-3">
          <input
            id="pwdInput"
            name="pwdInput"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Please enter up to 10 English letters or numbers."
            required
          />
        </div>

        <!-- 用來顯示錯誤的提示 --> <!--要改-->
        <div id="inputError" style="color: red; display: none;"></div>
      </div>
      <div class="modal-footer">
        <!--註冊button-->
        <!--onclick="openRegistrationPage()":呼叫打開註冊頁面的函數-->
         <button
         type="button"
         class="btn btn-success me-auto"
         onclick="openRegistrationPage()" 
       >
        Register
       </button>

        <!--不需要在按鈕上添加onclick事件,因為表單會自動調用onsubmit事件-->
        <button
          type="submit"
          class="btn btn-success"
        >
          Login
        </button>
      </div>
    </form>
    <!--表單結束-->
    </div>
  </div> <!--測試-->

    <!--註冊表單-->
    <div id="registrationForm" class="modal-dialog" style="display: none;"> <!--測試-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register Account</h5>
        </div>
        <div class="modal-body">

      <form id="registerForm" onsubmit="return handleRegistration(event)" method="POST">
        <label for="regUserCode" class="form-label mb-3">Account:</label>
        <div class="input-group mb-3">
          <input
            id="regUserCode"
            name="regUserCode"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            placeholder="Please enter up to 10 English letters or numbers."
            required
          />
        </div>

        <label for="regPwd" class="form-label mb-3">Password:</label>
        <div class="input-group mb-3">
          <input
            id="regPwd"
            name="regPwd"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            placeholder="Please enter up to 10 English letters or numbers."
            required
          />
        </div>

        <div id="regError" style="color: red; display: none;"></div>
       </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-success me-auto"
            onclick="showLoginForm()"
          >
            Return to Login
          </button>

          <button
            type="submit"
            class="btn btn-success"
          >
            Confirm
          </button>
        </div>
      </form>
    </div> <!--註冊表單結束-->

  </div>
</div>

<div id="main-content"><!--虛化開始-->
<div id="cash-info">
  <!--&#x1F4B5;是鈔票的emoji-->
  <h3>Cash Inventory 💵</h3>
  <table class="table">
    <thead class="table-success">
      <tr>
        <th scope="col">Total in TWD</th>
        <th scope="col">Total in USD</th>
        <th scope="col">Today's Exchange Rate</th>
        <th scope="col">Total Cash</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{data["td"]}} 元</td>
        <td>{{data["ud"]}} 元</td>
        <td>{{data["currency"]}} 元</td>
        <td>{{data["total"]}} 元</td>
      </tr>
    </tbody>
  </table>

  <h5>Cash Adjustment Record</h5>
  <!--從bootstrap那邊來的,可以去參考那邊的table的範例-->
  <table class="table">
    <thead class="table-success">
      <tr>
        <!--col:column-->
        <th scope="col" style="display: none">ID</th>
        <th scope="col">TWD</th>
        <th scope="col">USD</th>
        <th scope="col">Notes</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <!--用for loop去把index.py裡的第67行的cash_result裡面的資料塞進表格裡面-->
      <!--cash_result是個a list of tuple-->
      {% for data in data["cash_result"] %}
      <!--這裡面就可以使用data["cash_result"]這個list裡面的每一筆資料-->
      <tr>
        <!--style="vertical-align: middle":垂直置中-->
        <td style="vertical-align: middle; display: none">{{data[0]}}</td>
        <td style="vertical-align: middle">{{data[1]}}</td>
        <td style="vertical-align: middle">{{data[2]}}</td>
        <td style="vertical-align: middle">{{data[3]}}</td>
        <td style="vertical-align: middle">{{data[4]}}</td>
        <td>
          <!--這裡不能只做一個button,而是要作一個form,這是因為我們要透過這個form,
          當使用者按下「刪除此筆資料」這個button之後,它會寄送一個HTTP的POST request
          到我們的index.py的伺服器,它寄送request之後,我們的伺服器再來處理這個request-->
          <form action="/cash-delete" method="post">
            <!--作一個沒人看到的<input> tag-->
            <!--當使用者按下「刪除此筆資料」時,data[0]這筆資料就會被到後端的伺服器-->
            <input type="hidden" name="id" value="{{data[0]}}" />
            <!--btn-primary:設定button的背景是藍色-->
            <button class="btn btn-outline-success">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<hr />
<div id="stock-info">
  <!--&#x1F4C8;是股票的emoji-->
  <h3>Stock Inventory 📈</h3>
  <table class="table">
    <thead class="table-success">
      <tr>
        <th scope="col">Stock Code</th>
        <th scope="col">Number of Shares Held</th>
        <th scope="col">Current Stock Price</th>
        <th scope="col">Current Market Value</th>
        <th scope="col">Stock Asset Proportion(%)</th>
        <th scope="col">Total Purchase Cost(including Fees)</th>
        <th scope="col">Average Cost</th>
        <th scope="col">Return Rate(%)</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for d in data["stock_info"] %}
      <tr>
        <!--這裡的d是一個dictionary-->
        <td style="vertical-align: middle">{{d["stock_id"]}}</td>
        <td style="vertical-align: middle">{{d["shares"]}}</td>
        <td style="vertical-align: middle">{{d["current_price"]}}</td>
        <td style="vertical-align: middle">{{d["total_value"]}}</td>
        <td style="vertical-align: middle">{{d["value_percentage"]}}</td>
        <td style="vertical-align: middle">{{d["stock_cost"]}}</td>
        <td style="vertical-align: middle">{{d["average_cost"]}}</td>
        <td style="vertical-align: middle">{{d["rate_of_return"]}}</td>
        <td>
          <form action="/stock-delete" method="post">
            <!--作一個沒人看到的<input> tag-->
            <!--當使用者按下「刪除此筆資料」時,data[0]這筆資料就會被到後端的伺服器-->
            <input type="hidden" name="stock_id" value="{{d['stock_id']}}" />
            <!--btn-primary:設定button的背景是藍色-->
            <button class="btn btn-outline-success">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<hr />
<!--不懂CSS沒關西,因為這都是網頁課程裡的內容-->
<div id="chart" style="display: flex; flex-wrap: wrap" >
  <!--去判斷要不要顯示figure-->
  {% if data["show_pic_1"] %}
  <figure style="flex: 0 1 500px; margin: 10px">
    <figcaption>Stock Warehouse Occupancy Chart</figcaption>
    <img style="width: 100%" src="/static/piechart.jpg" alt="股票庫存占比圖" />
  </figure>
  {% endif %} {% if data["show_pic_2"] %}
  <figure style="flex: 0 1 500px; margin: 10px">
    <figcaption>Asset Ratio Chart</figcaption>
    <img style="width: 100%" src="/static/piechart2.jpg" alt="資產比例占比圖" />
  </figure>
  {% endif %}
</div>

<hr />
<div id="footer" style="text-align: right; padding: 10px 0">
  Today's Exchange Rate Data Source:
  <a href="https://tw.rter.info/howto_currencyapi.php" target="_blank">
    Global Real-Time Exchange Rate API
  </a>
</div>
</div> <!--虛化結束-->

<script>
  window.onload = function () {
    // 檢查 localStorage 中是否有 "formSubmitted" 標記
    if (!localStorage.getItem("formSubmitted")) {
      // 如果尚未提交表單, 顯示模態框
      var introModal = document.getElementById("introModal");
        introModal.style.display = "block"; // 顯示模態框

        var myModal = new bootstrap.Modal(introModal); // 初始化 Bootstrap Modal
        myModal.show();

        // 只虛化背景,不虛化彈跳視窗(利用"main-content"包裹住需要虛化的地方)
        document.getElementById("main-content").classList.add("blurred");

        // 如果尚未提交表單,強制顯示模態框
        // var myModal = new bootstrap.Modal(document.getElementById("introModal"));
        // myModal.show();
    }
    else {
        // 如果已提交過表單，則直接載入資料
        console.log("跳過表單"); //測試用
    }

};

  function handleFormSubmit(event) {
    event.preventDefault(); // 防止表單默認提交

    var userCodeInput = document.getElementById("userCodeInput").value;
    var pwdInput = document.getElementById("pwdInput").value;

    fetch("/", {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded",
        },
        body: new URLSearchParams({ userCodeInput: userCodeInput, pwdInput:pwdInput }), // 轉換為 URL 編碼格式
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === "success") {
            // 表單提交成功,儲存已提交的狀態到localStorage(這樣即使開其他分頁也會保留紀錄)
            //sessionStorage:只會保留當前頁面的狀態
            localStorage.setItem("formSubmitted", "true");

            // 隱藏彈出視窗並重新載入頁面
            var myModal = bootstrap.Modal.getInstance(document.getElementById("introModal"));
            myModal.hide();

            //移除需化背景
            myModal._element.addEventListener('hidden.bs.modal', function () {
            document.getElementById("main-content").classList.remove("blurred");});
            
            location.reload();
        } else {
            // 顯示錯誤訊息並保持彈出視窗開啟
            var inputError = document.getElementById("inputError");
            inputError.textContent = data.message; // 顯示錯誤訊息
            inputError.style.display = "block"; // 顯示錯誤提示

            // 在1.3秒後隱藏錯誤訊息
            setTimeout(() => {
                inputError.style.display = "none"; // 隱藏錯誤提示
            }, 1300); // 1300毫秒，即1.3秒
            
        }
    })
    .catch(error => {
        console.error("網路錯誤:", error);
    });
    }

    //註冊頁面的「確認」button
    function handleRegistration(event) {
    event.preventDefault(); // 防止表單默認提交

    var regUserCode = document.getElementById("regUserCode").value;
    var regPwd = document.getElementById("regPwd").value;

    fetch("/register", {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded",
        },
        body: new URLSearchParams({ regUserCode: regUserCode, regPwd: regPwd }), // 轉換為 URL 編碼格式
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === "success") {
            // 表單提交成功,儲存已提交的狀態到localStorage(這樣即使開其他分頁也會保留紀錄)
            //sessionStorage:只會保留當前頁面的狀態
            localStorage.setItem("formSubmitted", "true");

            // 隱藏彈出視窗並重新載入頁面
            var myModal = bootstrap.Modal.getInstance(document.getElementById("introModal"));
            myModal.hide();

            //移除需化背景
            myModal._element.addEventListener('hidden.bs.modal', function () {
            document.getElementById("main-content").classList.remove("blurred");});
            
            location.reload();
        } else {
            // 顯示錯誤訊息並保持彈出視窗開啟
            var regError = document.getElementById("regError");
            regError.textContent = data.message; // 顯示錯誤訊息
            regError.style.display = "block"; // 顯示錯誤提示

            // 在1.3秒後隱藏錯誤訊息
            setTimeout(() => {
                regError.style.display = "none"; // 隱藏錯誤提示
            }, 1300); // 1300毫秒，即1.3秒
            
        }
    })
    .catch(error => {
        console.error("網路錯誤:", error);
    });
    }

    function openRegistrationPage() {
      // 隱藏登入表單，顯示註冊表單
      document.getElementById('registrationForm').style.display = 'block';
      document.getElementById('loginPage').style.display = 'none';
      document.getElementById('exampleModalLabel').textContent = "註冊帳號";

      //可以用來測試button是否有被click
      // alert("註冊按鈕被點擊了！");
    }

    function showLoginForm() {
      // 隱藏註冊表單，顯示登入表單
      document.getElementById('loginPage').style.display = 'block';
      document.getElementById('registrationForm').style.display = 'none';
      document.getElementById('exampleModalLabel').textContent = "歡迎👏👏👏";
    }


  // 當表單提交時的事件處理函數
// function handleFormSubmit(event) {
//   event.preventDefault(); // 阻止表單的默認提交行為

//   var userCodeInput = document.getElementById("userCodeInput").value;
//   var inputError = document.getElementById("inputError");

//   // 檢查是否有輸入代號
//   if (!userCodeInput.trim()) {
//     // 如果沒有輸入，顯示錯誤提示並保持彈出視窗
//     inputError.style.display = "block";
//   } else {
//     // 如果有輸入，隱藏錯誤提示並繼續處理邏輯
//     inputError.style.display = "none";

//     // 使用 fetch 將資料發送到伺服器
//     fetch("/submit_code", {
//       method: "POST",
//       headers: {
//         "Content-Type": "application/json",
//       },
//       body: JSON.stringify({ code: userCodeInput }), // 將使用者的輸入作為請求體
//     })
//       .then((response) => {
//         if (response.ok) {
//           // 隱藏彈出視窗
//           var myModal = bootstrap.Modal.getInstance(
//             document.getElementById("introModal")
//           );
//           myModal.hide(); // 隱藏彈出視窗

//           // 重新載入頁面
//           location.reload();
//         } else {
//           // 這裡可以處理伺服器返回的錯誤，例如顯示提示
//           console.error("伺服器錯誤");
//         }
//       })
//       .catch((error) => {
//         console.error("網路錯誤:", error);
//       });
//   }
// }
</script>

<!-- 引入 Bootstrap 和 JavaScript -->
<!--彈跳視窗-->
<!-- <script>
  window.onload = function () {
    // 檢查 sessionStorage 中是否有"modalShown"標記
    if (!sessionStorage.getItem("modalShown")) {
      var myModal = new bootstrap.Modal(document.getElementById("introModal"));
      myModal.show();

      // 顯示過後將標記儲存到 sessionStorage
      sessionStorage.setItem("modalShown", "true");
    }
  };
</script> -->
{% endblock %}
